.homepage {
  text-align: center;
}

.youtube-video {
  position:relative;
  height:0;
  padding-bottom:56.25%;
  margin-top: 50px
}

.embed-iframe {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}

hr {
  border-top: 1px solid #999;
}

.aboutSection-container {
  margin-top: 40px
}

.aboutSection-row {
  margin-top: 50px;
}

.pic-title {
  position: absolute;
  top: 74%;
  left: 10%;
}

.about-info {
  width: 50%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  float: none;
  font-size: 1.5em;
}

.testimonial-header {
  margin-bottom: 30px;
}

.testimonial-div {
  /*line-height: 200px;*/
  font-size: 1.5em;
  color: #26A69A;
}

.testimonial-quote {
  margin: 20px 0;
  font-size: 28px;
}

.contact-header {
  margin-bottom: 20px;
}

.map-iframe {
  width: 100%;
  pointer-events: none;
}

.contact-info {
  font-size: 25px;
  text-align: left;
}

.contact-name {
  font-weight: bold;
}

.contact-form {
  width: 80%;
  font-size: 18px;
  margin: 20px auto;
  text-align: left;
}

.contact-submit-button {
  width: 100%;
  height: 50px;
}

@media only screen and (max-width: 640px) {

  .embed-iframe {
    width: 90%;
    height: 90%;
  }

  .about-info {
    width: 100%;
  }

  .square-img {
    margin: 0 auto;
  }

  .properties-button {
    width: 80%;
    float: none;
  }

  .testimonial-quote {
    line-height: 1.3;
    margin: 0;
    font-size: 20px;
  }
}

@media only screen and (max-width: 1024px) {

  .contact-info {
    text-align: center;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 740px) {

  .contact-form {
    width: 100%;
  }
}
